.glass {
  background: rgba(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 7px 29px 0px rgb(100 100 111 / 20%);
  @apply shrink-0 h-fit w-[40%] rounded-md py-8 px-7 min-w-max;
}

.profile_img {
  @apply w-28 rounded-full shadow-lg cursor-pointer;
}

.profile_img:hover {
  box-shadow: 0 7px 29px 0px rgb(100 100 111 / 20%);
}

.textbox {
  outline: none;
  @apply px-5 py-2 w-3/4 text-base border-2 border-gray-300 rounded-md;
}

.btn {
  @apply border bg-green-500 w-3/4 py-2 rounded-md font-bold text-gray-900 text-lg text-center;
}

.btn:hover {
  @apply bg-green-600;
}

input[type="file"] {
  display: none;
}
